In [1]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["Corey.Schafer@email.com", "JaneDoe@email.com", "JohnDoe@email.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  Corey.Schafer@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [5]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [6]:
df[df['last'] == 'Doe']

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [7]:
filt = (df['last'] == 'Doe')

In [8]:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [9]:
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [10]:
df.loc[filt, 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [11]:
df.loc[filt, ['email']]

               email
1  JaneDoe@email.com
2  JohnDoe@email.com

& - AND <br>
| - OR

In [12]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')

In [13]:
df.loc[filt]

  first last              email
2  John  Doe  JohnDoe@email.com

In [14]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [15]:
df.loc[filt]

   first     last                    email
0  Corey  Schafer  Corey.Schafer@email.com
2   John      Doe        JohnDoe@email.com

In [16]:
df.loc[filt, 'email']

0    Corey.Schafer@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [17]:
df.loc[~filt, 'email']

1    JaneDoe@email.com
Name: email, dtype: object

In [18]:
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='Column')

In [19]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [20]:
high_sal = (df['ConvertedComp'] > 70000)

In [21]:
df.loc[high_sal, ['Country', 'LanguageWorkedWith', 'ConvertedComp']].head(10)

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
6,Canada,Java;R;SQL,366420.0
9,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
13,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
16,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
22,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
26,United States,Bash/Shell/PowerShell;C++;C#;HTML/CSS;JavaScri...,114000.0
29,United States,Bash/Shell/PowerShell;JavaScript;SQL,100000.0
30,Switzerland,NaN,90417.0
32,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,1100000.0
35,United States,HTML/CSS;JavaScript,80000.0

In [22]:
countries = ['United States', 'India', 'United Kingdom', 'Germany', 'Canada']
filt = df['Country'].isin(countries)

In [23]:
df.loc[filt, 'Country'].head(10)

Respondent
1     United Kingdom
4      United States
6             Canada
8              India
10             India
12            Canada
13     United States
14           Germany
15             India
16    United Kingdom
Name: Country, dtype: object

In [24]:
df['LanguageWorkedWith']

Respondent
1                    HTML/CSS;Java;JavaScript;Python
2                                C++;HTML/CSS;Python
3                                           HTML/CSS
4                                C;C++;C#;Python;SQL
5        C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
                            ...
22822                       HTML/CSS;Java;JavaScript
22823               Bash/Shell/PowerShell;C#;SQL;VBA
22824                          Bash/Shell/PowerShell
22825              JavaScript;Scala;Swift;TypeScript
22826                 HTML/CSS;JavaScript;Python;SQL
Name: LanguageWorkedWith, Length: 22703, dtype: object

In [25]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)

In [26]:
df.loc[filt, 'LanguageWorkedWith']

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
8        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
                               ...
22815    Assembly;Bash/Shell/PowerShell;C;C#;HTML/CSS;J...
22818        Bash/Shell/PowerShell;JavaScript;Python;R;SQL
22819    Bash/Shell/PowerShell;C;Go;HTML/CSS;JavaScript...
22820    Bash/Shell/PowerShell;C;C++;Dart;Elixir;Go;Pyt...
22826                       HTML/CSS;JavaScript;Python;SQL
Name: LanguageWorkedWith, Length: 9360, dtype: object